In [2]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("./banpo1_join.csv")
df.head(5)

,Unnamed: 0,env_slopesolar,env_levelsolar,env_modtemp,env_airtemp,pow_dcv,pow_dca,watt,기온,강수량,풍속,풍향,습도,일조,일사,적설,전운량,지중온도,match_solar,z_score
0,2018-10-22 12:00,333.375000,321.937500,25.050000,17.881250,480.116279,11.560465,5536.874419,18.2,0.0,1.0,20.0,34.0,1.0,2.03,0.0,5.0,14.9,563.888889,0.094692
1,2018-10-22 13:00,490.514286,563.442857,28.157143,18.405714,481.428571,14.126531,6808.306122,19.4,0.0,1.2,180.0,35.0,0.8,1.73,0.0,9.0,15.9,480.555556,0.416194
2,2018-10-22 14:00,368.214286,426.042857,26.777143,19.221429,483.090909,10.850909,5217.690909,20.6,0.0,2.2,180.0,30.0,0.7,1.69,0.0,8.0,16.7,469.444444,0.013982
3,2018-10-22 15:00,242.214286,294.400000,21.861429,18.455714,483.459016,6.842623,3306.254098,20.2,0.0,1.6,180.0,31.0,1.0,1.25,0.0,8.0,17.4,347.222222,-0.469355
4,2018-10-22 16:00,116.159420,132.362319,18.288406,17.346377,480.047619,3.265079,1589.776190,19.7,0.0,1.6,270.0,34.0,0.7,0.88,0.0,9.0,17.9,244.444444,-0.903394

In [7]:
def make_oneday(df):
    def change_datetime():
        df_date = pd.to_datetime(df["Unnamed: 0"])
        df.index = df_date
        return df

    def df_resample1(df):
        return df.resample('D').sum()

    def split_data(df):
        return df[["env_slopesolar", "env_levelsolar","match_solar", "watt"]]
    
    # def to_csv(df, name):
    #     df.to_csv(name, encoding="UTF-8")

    return df_resample1(split_data(change_datetime()))

            env_slopesolar  env_levelsolar  match_solar          watt
Unnamed: 0
2018-10-22     1574.781625     1763.402924  2219.444444  22803.435072
2018-10-23     2245.413665     2675.848861  2125.000000  32272.598184
2018-10-24     2222.015032     2791.374534  2197.222222  34057.163024
2018-10-25     4086.135818     5171.638095  3688.888889  60670.765327
2018-10-26      783.809317     1007.825259   833.333333  11532.445049
...                    ...             ...          ...           ...
2020-10-18     4362.961538     5491.929487  4336.111111  64333.337063
2020-10-19     3954.910256     5040.294872  4130.555556  58955.751166
2020-10-20     4074.294872     5287.923993  4238.888889  61004.820385
2020-10-21     1286.660256     1100.826923  1291.666667  21029.640967
2020-10-22     2733.070513     3505.256410  3038.888889  40846.369231

[732 rows x 4 columns]