In [6]:
import pandas as pd 
import numpy as np

In [36]:
### 데이터를 로드하세요 


weather = pd.read_csv("./allweather.csv", encoding="ms949")
print(weather["지점명"].unique())

weather[weather["지점명"] == "양산시"][:50]

['강릉' '서울' '원주' '수원' '청주' '전주' '창원' '목포' '진주' '양산시']

,지점,지점명,일시,최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),가조시간(hr),합계 일사량(MJ/m2),평균 전운량(1/10)
8793,257,양산시,2018-03-01,3.7,12.3,NaN,4.5,45.3,11.4,9.21,NaN
8794,257,양산시,2018-03-02,-0.7,11.8,NaN,2.0,44.6,11.5,10.44,NaN
8795,257,양산시,2018-03-03,0.7,16.4,NaN,1.9,69.6,11.5,7.65,NaN
8796,257,양산시,2018-03-04,5.0,17.6,21.0,1.8,85.6,11.5,3.74,NaN
8797,257,양산시,2018-03-05,3.9,14.2,4.0,5.8,83.5,11.6,1.35,NaN
8798,257,양산시,2018-03-06,3.5,12.6,NaN,3.7,58.6,11.6,10.24,NaN
8799,257,양산시,2018-03-07,4.4,9.3,5.5,4.3,71.1,11.6,2.99,NaN
8800,257,양산시,2018-03-08,3.4,5.9,24.0,3.0,90.4,11.7,1.73,NaN
8801,257,양산시,2018-03-09,-0.2,9.1,NaN,2.2,74.8,11.7,4.61,NaN
8802,257,양산시,2018-03-10,0.4,12.5,NaN,2.0,73.8,11.8,7.63,NaN
8803,257,양산시,2018-03-11,0.9,17.0,NaN,2.0,63.3,11.8,10.56,NaN
8804,257,양산시,2018-03-12,0.4,17.2,NaN,2.4,71.1,11.8,10.51,NaN
8805,257,양산시,2018-03-13,4.6,19.4,NaN,3.4,75.6,11.9,10.74,NaN
8806,257,양산시,2018-03-14,7.3,21.5,NaN,3.1,79.3,11.9,10.58,NaN
8807,257,양산시,2018-03-15,11.4,16.1,46.0,2.1,98.4,11.9,0.86,NaN
8808,257,양산시,2018-03-16,2.5,11.2,1.0,5.0,62.8,12.0,9.02,NaN
8809,257,양산시,2018-03-17,1.3,14.8,NaN,2.1,63.6,12.0,11.36,NaN
8810,257,양산시,2018-03-18,1.0,16.2,5.5,1.3,83.8,12.1,5.75,NaN
8811,257,양산시,2018-03-19,5.6,12.8,32.0,4.9,90.5,12.1,1.77,NaN
8812,257,양산시,2018-03-20,3.0,9.2,2.0,6.2,62.9,12.1,7.19,NaN
8813,257,양산시,2018-03-21,1.0,4.1,24.5,4.7,91.5,12.2,1.92,NaN
8814,257,양산시,2018-03-22,2.2,14.2,NaN,1.4,64.5,12.2,10.64,NaN
8815,257,양산시,2018-03-23,0.2,15.8,NaN,1.6,67.1,12.2,11.72,NaN
8816,257,양산시,2018-03-24,2.6,18.7,NaN,2.3,61.6,12.3,10.42,NaN
8817,257,양산시,2018-03-25,6.1,22.0,NaN,2.4,58.9,12.3,11.86,NaN
8818,257,양산시,2018-03-26,5.8,22.8,NaN,2.5,58.8,12.3,11.55,NaN
8819,257,양산시,2018-03-27,6.1,23.1,NaN,2.3,55.5,12.4,11.65,NaN
8820,257,양산시,2018-03-28,6.4,23.0,NaN,2.9,63.0,12.4,11.76,NaN
8821,257,양산시,2018-03-29,9.7,24.1,NaN,2.7,65.4,12.5,9.22,NaN
8822,257,양산시,2018-03-30,10.8,19.2,NaN,4.1,52.4,12.5,11.64,NaN
8823,257,양산시,2018-03-31,6.3,21.0,NaN,2.1,54.1,12.5,11.13,NaN
8824,257,양산시,2018-04-01,9.1,22.5,NaN,2.6,70.5,12.6,8.72,NaN
8825,257,양산시,2018-04-02,11.4,23.8,NaN,3.0,82.0,12.6,10.93,NaN
8826,257,양산시,2018-04-03,12.4,24.1,NaN,3.5,81.8,12.6,11.96,NaN
8827,257,양산시,2018-04-04,8.8,17.7,5.5,3.3,89.9,12.7,1.16,NaN
8828,257,양산시,2018-04-05,9.1,11.8,1.0,3.3,82.0,12.7,2.34,NaN
8829,257,양산시,2018-04-06,7.0,17.6,21.5,2.9,66.9,12.8,7.48,NaN
8830,257,양산시,2018-04-07,4.6,11.1,NaN,3.9,43.1,12.8,7.46,NaN
8831,257,양산시,2018-04-08,0.6,13.6,NaN,3.7,55.4,12.8,12.43,NaN
8832,257,양산시,2018-04-09,7.8,22.3,NaN,2.1,60.3,12.9,12.18,NaN
8833,257,양산시,2018-04-10,5.1,20.5,0.1,3.9,81.1,12.9,9.85,NaN
8834,257,양산시,2018-04-11,15.1,26.8,2.5,4.0,53.1,12.9,12.52,NaN
8835,257,양산시,2018-04-12,10.2,24.3,NaN,2.5,32.3,13.0,11.29,NaN
8836,257,양산시,2018-04-13,9.0,19.4,NaN,3.9,39.0,13.0,7.89,NaN
8837,257,양산시,2018-04-14,10.2,14.0,26.5,2.6,86.1,13.0,0.74,NaN
8838,257,양산시,2018-04-15,10.5,20.3,NaN,2.3,50.3,13.1,12.25,NaN
8839,257,양산시,2018-04-16,6.7,19.8,NaN,2.8,60.6,13.1,10.97,NaN
8840,257,양산시,2018-04-17,9.7,20.9,NaN,1.9,68.6,13.1,10.42,NaN
8841,257,양산시,2018-04-18,8.5,23.3,NaN,2.4,65.9,13.2,13.26,NaN
8842,257,양산시,2018-04-19,8.8,23.4,NaN,3.0,59.5,13.2,13.19,NaN

In [4]:
### 꼭 읽고 하세요 ,,,
# 반포1 cap : 20
# 반포2 cap : 15
# newREC1 cap : 3
# newREC2 cap : 3
# 미리벌 cap : 99
# LH cap : 12
# 보듬어린이집 cap : 25
# 묘산 cap : 30
# 온곡 cap : 32
# 한국 cap : 2 

def make_oneday(df):
    def change_datetime():
        df_date = pd.to_datetime(df["Unnamed: 0"])
        df.index = df_date
        return df

    def df_resample1(df):
        return df.resample('D').sum()

    def split_data(df):
        return df[["env_slopesolar", "env_levelsolar","match_solar", "watt"]]
    
    # def to_csv(df, name):
    #     df.to_csv(name, encoding="UTF-8")
    set_df = df_resample1(split_data(change_datetime()))
    set_df["watt"] = set_df["watt"] / 20 ##

    return set_df

set_df = make_oneday(df)

In [5]:
set_df

            env_slopesolar  env_levelsolar  match_solar         watt
Unnamed: 0
2018-10-22     1574.781625     1763.402924  2219.444444  1140.171754
2018-10-23     2245.413665     2675.848861  2108.333333  1613.629909
2018-10-24     2222.015032     2791.374534  2197.222222  1702.858151
2018-10-25     4086.135818     5171.638095  3688.888889  3033.538266
2018-10-26      783.809317     1007.825259   819.444444   576.622252
...                    ...             ...          ...          ...
2020-10-18     4362.961538     5491.929487  4294.444444  3216.666853
2020-10-19     3954.910256     5040.294872  4130.555556  2947.787558
2020-10-20     4074.294872     5287.923993  4238.888889  3050.241019
2020-10-21     1286.660256     1100.826923  1272.222222  1051.482048
2020-10-22     2733.070513     3505.256410  3005.555556  2042.318462

[732 rows x 4 columns]

In [12]:
weather '강릉', '서울', '수원', '충주', '청주', '전주', '울산', '창원', '목포', '거제' 합계 일사량(MJ/m2)

,지점,지점명,일시,최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),가조시간(hr),합계 일사량(MJ/m2),평균 전운량(1/10)
0,105,강릉,2018-01-01,-2.1,5.7,NaN,3.7,19.8,9.6,11.29,NaN
1,105,강릉,2018-01-02,-0.6,6.9,NaN,2.8,22.4,9.6,9.85,NaN
2,105,강릉,2018-01-03,-3.8,4.8,NaN,2.8,26.1,9.6,11.09,NaN
3,105,강릉,2018-01-04,-4.5,4.4,NaN,2.6,44.6,9.7,8.35,NaN
4,105,강릉,2018-01-05,-0.9,7.6,NaN,3.2,35.6,9.7,9.62,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10385,294,거제,2020-10-31,9.0,18.5,NaN,0.8,67.1,10.8,NaN,2.3
10386,294,거제,2020-11-01,9.9,19.9,0.1,0.8,76.9,10.8,NaN,9.1
10387,294,거제,2020-11-02,8.5,16.6,4.2,0.6,80.1,10.7,NaN,7.5
10388,294,거제,2020-11-03,5.9,13.4,NaN,2.2,51.4,10.7,NaN,1.1
10389,294,거제,2020-11-04,4.4,12.9,NaN,1.6,55.4,10.7,NaN,1.1

In [25]:
weather[weather["지점명"] == "서울"]["합계 일사량(MJ/m2)"] ## ㅇ
weather[weather["지점명"] == "수원"]["합계 일사량(MJ/m2)"] ## ㅇ
weather[weather["지점명"] == "충주"]["합계 일사량(MJ/m2)"] ## x
weather[weather["지점명"] == "청주"]["합계 일사량(MJ/m2)"] ## ㅇ
weather[weather["지점명"] == "전주"]["합계 일사량(MJ/m2)"] ## ㅇ
weather[weather["지점명"] == "울산"]["합계 일사량(MJ/m2)"] ## x
weather[weather["지점명"] == "창원"]["합계 일사량(MJ/m2)"] ## ㅇ
weather[weather["지점명"] == "목포"]["합계 일사량(MJ/m2)"] ## ㅇ
weather[weather["지점명"] == "거제"]["합계 일사량(MJ/m2)"] ## x
weather[weather["지점명"] == "강릉"]["합계 일사량(MJ/m2)"] ## ㅇ

0       11.29
1        9.85
2       11.09
3        8.35
4        9.62
        ...
1034    11.92
1035     4.98
1036    13.77
1037    15.00
1038    14.55
Name: 합계 일사량(MJ/m2), Length: 1039, dtype: float64