In [2]:
import pandas as pd 
import numpy as np

In [17]:
### 데이터를 로드하세요 

df = pd.read_csv("./banpo1_join.csv")
df.head(5)
weather = pd.read_csv("./allweather.csv", encoding="ms949")

In [7]:
### 꼭 읽고 하세요 ,,,
# 반포1 cap : 20
# 반포2 cap : 15
# newREC1 cap : 3
# newREC2 cap : 3
# 미리벌 cap : 99
# LH cap : 12
# 보듬어린이집 cap : 25
# 묘산 cap : 30
# 온곡 cap : 32
# 한국 cap : 2 

def make_oneday(df):
    def change_datetime():
        df_date = pd.to_datetime(df["Unnamed: 0"])
        df.index = df_date
        return df

    def df_resample1(df):
        return df.resample('D').sum()

    def split_data(df):
        return df[["env_slopesolar", "env_levelsolar","match_solar", "watt"]]
    
    # def to_csv(df, name):
    #     df.to_csv(name, encoding="UTF-8")
    set_df = df_resample1(split_data(change_datetime()))
    set_df["watt"] = set_df["watt"] / 20 ##

    return set_df

set_df = make_oneday(df)

In [9]:
set_df

            env_slopesolar  env_levelsolar  match_solar         watt
Unnamed: 0
2018-10-22     1574.781625     1763.402924  2219.444444  1140.171754
2018-10-23     2245.413665     2675.848861  2125.000000  1613.629909
2018-10-24     2222.015032     2791.374534  2197.222222  1702.858151
2018-10-25     4086.135818     5171.638095  3688.888889  3033.538266
2018-10-26      783.809317     1007.825259   833.333333   576.622252
...                    ...             ...          ...          ...
2020-10-18     4362.961538     5491.929487  4336.111111  3216.666853
2020-10-19     3954.910256     5040.294872  4130.555556  2947.787558
2020-10-20     4074.294872     5287.923993  4238.888889  3050.241019
2020-10-21     1286.660256     1100.826923  1291.666667  1051.482048
2020-10-22     2733.070513     3505.256410  3038.888889  2042.318462

[732 rows x 4 columns]

In [18]:
# def match_power_weather(power_data, weather_data):
#     power_weather=[]
#     for i, j in zip(power_data['일시'],weather_data['일시']):
#         if i==j:
#             df = weather_data[weather_data['일시']==j]
#             power_weather.append(list(df.iloc[0,3:]))
#     return power_weather

weather

,지점,지점명,일시,최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),가조시간(hr),합계 일사량(MJ/m2),평균 전운량(1/10)
0,105,강릉,2018-01-01,-2.1,5.7,NaN,3.7,19.8,9.6,11.29,NaN
1,105,강릉,2018-01-02,-0.6,6.9,NaN,2.8,22.4,9.6,9.85,NaN
2,105,강릉,2018-01-03,-3.8,4.8,NaN,2.8,26.1,9.6,11.09,NaN
3,105,강릉,2018-01-04,-4.5,4.4,NaN,2.6,44.6,9.7,8.35,NaN
4,105,강릉,2018-01-05,-0.9,7.6,NaN,3.2,35.6,9.7,9.62,NaN
...,...,...,...,...,...,...,...,...,...,...,...
10385,294,거제,2020-10-31,9.0,18.5,NaN,0.8,67.1,10.8,NaN,2.3
10386,294,거제,2020-11-01,9.9,19.9,0.1,0.8,76.9,10.8,NaN,9.1
10387,294,거제,2020-11-02,8.5,16.6,4.2,0.6,80.1,10.7,NaN,7.5
10388,294,거제,2020-11-03,5.9,13.4,NaN,2.2,51.4,10.7,NaN,1.1
10389,294,거제,2020-11-04,4.4,12.9,NaN,1.6,55.4,10.7,NaN,1.1