In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go # 그래프 객체 생성
from plotly.subplots import make_subplots
import datetime
import seaborn as sns 
import scipy.stats
import plotly.express as px
import os 
from scipy import stats
from sklearn import metrics
import statsmodels.formula.api as smf
import scipy.stats as st
import pylab
import csv

os.getcwd()

'c:\\Users\\seong\\Desktop\\Enittproj\\Enitt'

In [11]:
other_data_dummy1 = pd.read_csv("./ENITT_SOLAR_DATA/otherdata/otherdata.csv", encoding="ms949")
other_data_solar = other_data_dummy1[other_data_dummy1["발전기명"] == "안산연성정수장태양광"]
other_data_dummy1["발전기명"].unique() 

other_data_solar.loc[other_data_solar["일자"] == "2018-01-01"]

,일자,발전기명,01시,02시,03시,04시,05시,06시,07시,08시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
2914,2018-01-01,안산연성정수장태양광,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,411600.0,274800.0,140400.0,6000.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:

def make_data(data1, data2):
    new_data_list.append(data1) ## 24시 -> 00시
    for i in range(2, len(data2)-1):
        new_data_list.append(data2[i])  ## 01시 ~ 23시 -> 01시 ~ 23시

def make_date_list(start, end):
    date_index = pd.date_range(start=start, end=end, freq='H')
    
    return date_index


# new_data_list = []
# for i in range(len(othersolar_ansan)):
#     data1 = 0.0 ## 00시 데이터는 모두 0임
#     data2 = othersolar_ansan.iloc[i, :]
#     make_data(data1, data2)

date = make_date_list("2018-01-01", "2020-11-01")
print(date)

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2020-10-31 15:00:00', '2020-10-31 16:00:00',
               '2020-10-31 17:00:00', '2020-10-31 18:00:00',
               '2020-10-31 19:00:00', '2020-10-31 20:00:00',
               '2020-10-31 21:00:00', '2020-10-31 22:00:00',
               '2020-10-31 23:00:00', '2020-11-01 00:00:00'],
              dtype='datetime64[ns]', length=24841, freq='H')