In [31]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go # 그래프 객체 생성
from plotly.subplots import make_subplots
import os

os.getcwd()

'c:\\Users\\seong\\Desktop\\Enittproj\\Enitt'

In [39]:
data_list = os.listdir("./최종데이터")

data1 = pd.read_csv('./최종데이터/banpo_conbined.csv', encoding="utf-8")
data1
# for i in data_list:

    
    #  = pd.read_csv(f'./최종데이터/{i}', encoding="utf-8")

,Unnamed: 0,최저기온(°C),최고기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),가조시간(hr),합계 일사량(MJ/m2),평균 전운량(1/10),env_slopesolar,env_levelsolar,match_solar,watt
0,0,8.8,20.6,0.0,1.0,50.0,11.0,12.13,5.3,1574.781625,1763.402924,2219.444444,6.795953e-29
1,1,9.8,16.9,5.0,1.1,75.1,11.0,7.68,5.4,2245.413665,2675.848861,2108.333333,9.617984e-29
2,2,7.6,18.7,0.0,1.3,66.0,10.9,13.64,0.5,2222.015032,2791.374534,2197.222222,1.014983e-28
3,3,7.0,21.2,0.0,0.9,55.5,10.9,13.56,4.0,4086.135818,5171.638095,3688.888889,1.808130e-28
4,4,9.9,14.7,11.0,1.6,74.1,10.8,3.00,7.5,783.809317,1007.825259,819.444444,3.436936e-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,727,7.2,20.2,0.0,2.0,65.5,11.1,15.96,0.5,4362.961538,5491.929487,4294.444444,1.917283e-28
728,728,9.8,21.3,0.0,1.7,74.4,11.1,15.27,0.0,3954.910256,5040.294872,4130.555556,1.757018e-28
729,729,9.9,21.7,0.0,1.6,67.1,11.1,15.67,0.4,4074.294872,5287.923993,4238.888889,1.818085e-28
730,730,11.8,17.3,0.0,1.9,69.4,11.0,4.72,7.3,1286.660256,1100.826923,1272.222222,6.267321e-29
731,731,8.4,18.2,0.0,2.8,66.0,11.0,11.01,4.6,2733.070513,3505.256410,3005.555556,1.217317e-28

In [43]:
## mape 별 계산하기 

def mape_min(df):
    ## make function
    def delete_zero():
        pass

    def mean_absolute_percentage_error2(a, b, df):

        a_set, b_set = np.array(df[a]), np.array(df[b])

        return np.abs((a_set - b_set) / a_set)

    def quantile_3_min(df):

        a = np.mean(df[df["diff1"] < np.quantile(df["diff1"], 0.9)]["diff1"]) * 100
        b = np.mean(df[df["diff2"] < np.quantile(df["diff2"], 0.9)]["diff2"]) * 100
        c = np.mean(df[df["diff3"] < np.quantile(df["diff3"], 0.9)]["diff3"]) * 100
        d = np.mean(df[df["diff4"] < np.quantile(df["diff4"], 0.9)]["diff4"]) * 100

        print(a, b, c, d)
        if min(a, b, c, d) == a:
            
            return df[["env_slopesolar", "match_solar"]]
        
        elif min(a, b, c, d) == b:
            return df[["env_levelsolar", "match_solar"]]
        
        elif min(a, b, c, d) == c:
            return df[["env_slopesolar", "reset_match_slope"]]

        elif min(a, b, c, d) == d:
            return df[["env_levelsolar", "reset_match_slope"]]
        

    ## set init 
    init_df = df[["env_slopesolar", "env_levelsolar", "match_solar"]]
    ## make reset_match 
    init_df["reset_match_slope"] = init_df["match_solar"] * init_df["env_slopesolar"].mean() / init_df["match_solar"].mean()
    init_df["reset_match_level"] = init_df["match_solar"] * init_df["env_levelsolar"].mean() / init_df["match_solar"].mean()
    
    ## set solar and delete outlier 
    init_df["diff1"] = mean_absolute_percentage_error2("env_slopesolar", "match_solar", init_df)
    init_df["diff2"] = mean_absolute_percentage_error2("env_levelsolar", "match_solar", init_df)
    init_df["diff3"] = mean_absolute_percentage_error2("env_slopesolar", "reset_match_slope", init_df)
    init_df["diff4"] = mean_absolute_percentage_error2("env_levelsolar", "reset_match_slope", init_df)

    # init_weight = quantile_3_min(init_df).iloc[:, 0].mean() / quantile_3_min(init_df).iloc[:, 1].mean()

    return quantile_3_min(init_df)

mape_min(data1)

nan nan nan nan