In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go # 그래프 객체 생성
from plotly.subplots import make_subplots

In [8]:
df = pd.read_csv("./banpo1_join.csv")

In [10]:
## mape 별 계산하기 

def mape_min(df):
    ## make function

    def mean_absolute_percentage_error2(a, b, df):

        a_set, b_set = np.array(df[a]), np.array(df[b])

        return np.abs((a_set - b_set) / a_set)

    def quantile_3_min(df):

        a = np.mean(df[df["diff1"] < np.quantile(df["diff1"], 0.75)]["diff1"]) * 100
        b = np.mean(df[df["diff2"] < np.quantile(df["diff2"], 0.75)]["diff2"]) * 100
        c = np.mean(df[df["diff3"] < np.quantile(df["diff3"], 0.75)]["diff3"]) * 100
        d = np.mean(df[df["diff4"] < np.quantile(df["diff4"], 0.75)]["diff4"]) * 100

        print(a, b, c, d)
        if min(a, b, c, d) == a:
            return df[["env_slopesolar", "match_solar"]]
        
        elif min(a, b, c, d) == b:
            return df[["env_levelsolar", "match_solar"]]
        
        elif min(a, b, c, d) == c:
            return df[["env_slopesolar", "reset_match_slope"]]

        elif min(a, b, c, d) == d:
            return df[["env_levelsolar", "reset_match_slope"]]
        

    ## set init 
    init_df = df[["env_slopesolar", "env_levelsolar", "match_solar"]]
    ## make reset_match 
    init_df["reset_match_slope"] = init_df["match_solar"] * init_df["env_slopesolar"].mean() / init_df["match_solar"].mean()
    init_df["reset_match_level"] = init_df["match_solar"] * init_df["env_levelsolar"].mean() / init_df["match_solar"].mean()
    
    ## set solar and delete outlier 
    init_df["diff1"] = mean_absolute_percentage_error2("env_slopesolar", "match_solar", init_df)
    init_df["diff2"] = mean_absolute_percentage_error2("env_levelsolar", "match_solar", init_df)
    init_df["diff3"] = mean_absolute_percentage_error2("env_slopesolar", "reset_match_slope", init_df)
    init_df["diff4"] = mean_absolute_percentage_error2("env_levelsolar", "reset_match_slope", init_df)

    return quantile_3_min(init_df)


print(mape_min(df))

26.46991865780101 30.708878371078107 26.42208557777271 30.661661113476
      env_slopesolar  reset_match_slope
0         333.375000         544.310242
1         490.514286         463.870305
2         368.214286         453.144980
3         242.214286         335.166405
4         116.159420         235.957149
...              ...                ...
4596      491.916667         544.310242
4597      385.500000         455.826311
4598      154.000000         353.935724
4599       11.166667         168.923868
4600        0.000000          32.175975

[4601 rows x 2 columns]