In [1]:
import pandas as pd 
import numpy as np

In [4]:
asdf = pd.read_csv("./ENITT_SOLAR_DATA/ENITT_SOLAR_DATA/365. 반포써밋2블럭 발전량.csv")

asdf

,pow_index,pow_id,pow_date,pow_time,pow_cap,pow_dcv,pow_dca,pow_dcp,pow_acvr,pow_acvs,pow_acvt,pow_acar,pow_acas,pow_acat,pow_acp,pow_pf,pow_totpower,pow_freq
0,1,2,2018-10-18,14:35:09,15.0,439,10.000000,4300.000000,375,372,375,6.9000,7.4000,7.2000,4100.000000,0.9,9000,60.0000
1,2,2,2018-10-18,14:36:21,15.0,435,9.800000,4200.000000,374,371,376,6.7000,7.3000,7.1000,4000.000000,0.9,9000,59.9000
2,3,2,2018-10-18,14:37:18,15.0,444,9.600000,4200.000000,375,372,376,6.6000,7.3000,7.1000,4000.000000,0.9,9000,59.9000
3,4,2,2018-10-18,14:38:10,15.0,453,9.300000,4200.000000,376,373,377,6.5000,7.1000,6.8000,4000.000000,0.9,9000,60.0000
4,5,2,2018-10-18,14:39:03,15.0,454,9.200000,4100.000000,376,372,376,6.5000,7.2000,7.1000,3900.000000,0.9,9000,59.9000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395904,395905,2,2020-04-24,19:45:02,15.0,451,147.055588,66355.835938,408,406,407,94.9829,98.0549,94.2161,63701.597656,0.9,523857000,59.9717
395905,395906,2,2020-04-24,20:06:02,15.0,451,147.055588,66355.835938,408,406,407,94.9829,98.0549,94.2161,63701.597656,0.9,523857000,59.9717
395906,395907,2,2020-04-24,20:10:02,15.0,451,147.055588,66355.835938,408,406,407,94.9829,98.0549,94.2161,63701.597656,0.9,523857000,59.9717
395907,395908,2,2020-04-24,20:28:09,15.0,451,147.055588,66355.835938,408,406,407,94.9829,98.0549,94.2161,63701.597656,0.9,523857000,59.9717
395908,395909,2,2020-04-24,20:34:02,15.0,451,147.055588,66355.835938,408,406,407,94.9829,98.0549,94.2161,63701.597656,0.9,523857000,59.9717

In [5]:
asdf["pow_date"].unique()

array(['2018-10-18', '2018-10-19', '2018-10-20', '2018-10-21',
       '2018-10-22', '2018-10-23', '2018-10-24', '2018-10-25',
       '2018-10-26', '2018-10-27', '2018-10-28', '2018-10-29',
       '2018-10-30', '2018-10-31', '2018-11-01', '2018-11-02',
       '2018-11-03', '2018-11-04', '2018-11-05', '2018-11-06',
       '2018-11-07', '2018-11-08', '2018-11-09', '2018-11-10',
       '2018-11-11', '2018-11-12', '2018-11-13', '2018-11-14',
       '2018-11-15', '2018-11-16', '2018-11-17', '2018-11-18',
       '2018-11-19', '2018-11-20', '2018-11-21', '2018-11-22',
       '2018-11-23', '2018-11-24', '2018-11-25', '2018-11-26',
       '2018-11-27', '2018-11-28', '2018-11-29', '2018-11-30',
       '2018-12-01', '2018-12-02', '2018-12-03', '2018-12-04',
       '2018-12-05', '2018-12-06', '2018-12-07', '2018-12-08',
       '2018-12-09', '2018-12-10', '2018-12-11', '2018-12-12',
       '2018-12-13', '2018-12-14', '2018-12-15', '2018-12-16',
       '2018-12-17', '2018-12-18', '2018-12-19', '2018-12-20',
       '2018-12-21', '2018-12-22', '2018-12-23', '2018-12-24',
       '2018-12-25', '2018-12-26', '2018-12-27', '2018-12-28',
       '2018-12-29', '2018-12-30', '2018-12-31', '2019-01-01',
       '2019-01-02', '2019-01-03', '2019-01-04', '2019-01-05',
       '2019-01-06', '2019-01-07', '2019-01-08', '2019-01-09',
       '2019-01-10', '2019-01-11', '2019-01-12', '2019-01-13',
       '2019-01-14', '2019-01-15', '2019-01-16', '2019-08-09',
       '2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
       '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
       '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21',
       '2019-08-22', '2019-08-23', '2019-08-24', '2019-08-25',
       '2019-08-26', '2019-08-27', '2019-08-28', '2019-08-29',
       '2019-08-30', '2019-08-31', '2019-09-01', '2019-09-02',
       '2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06',
       '2019-09-07', '2019-09-08', '2019-09-09', '2019-09-10',
       '2019-09-11', '2019-09-12', '2019-09-13', '2019-09-14',
       '2019-09-15', '2019-09-16', '2019-09-17', '2019-09-18',
       '2019-09-19', '2019-09-20', '2019-09-21', '2019-09-22',
       '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26',
       '2019-09-27', '2019-09-28', '2019-09-29', '2019-09-30',
       '2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
       '2019-10-05', '2019-10-06', '2019-10-07', '2019-10-08',
       '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-12',
       '2019-10-13', '2019-10-14', '2019-10-15', '2019-10-16',
       '2019-10-17', '2019-10-18', '2019-10-19', '2019-10-20',
       '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24',
       '2019-10-25', '2019-10-26', '2019-10-27', '2019-10-28',
       '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-01',
       '2019-11-02', '2019-11-03', '2019-11-04', '2019-11-05',
       '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-09',
       '2019-11-10', '2019-11-11', '2019-11-12', '2019-11-13',
       '2019-11-14', '2019-11-15', '2019-11-16', '2019-11-17',
       '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21',
       '2019-11-22', '2019-11-23', '2019-11-24', '2019-11-25',
       '2019-11-26', '2019-11-27', '2019-11-28', '2019-11-29',
       '2019-11-30', '2019-12-01', '2019-12-02', '2019-12-03',
       '2019-12-04', '2019-12-05', '2019-12-06', '2019-12-07',
       '2019-12-08', '2019-12-09', '2019-12-10', '2019-12-11',
       '2019-12-12', '2019-12-13', '2019-12-14', '2019-12-15',
       '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19',
       '2019-12-20', '2019-12-21', '2019-12-22', '2019-12-23',
       '2019-12-24', '2019-12-25', '2019-12-26', '2019-12-27',
       '2019-12-28', '2019-12-29', '2019-12-30', '2019-12-31',
       '2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
       '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
       '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
       '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
       '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
       '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
       '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
       '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
       '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
       '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
       '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
       '2020-02-14', '2020-02-15', '2020-02-16', '2020-02-17',
       '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21',
       '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
       '2020-03-02', '2020-04-23', '2020-04-24'], dtype=object)