In [2]:
import pandas as pd 
import numpy as np

In [2]:
data1 = pd.read_excel("./미세먼지/2018년 4분기.xlsx")
data1["지역"].unique()

array(['서울 중구', '서울 용산구', '서울 종로구', '서울 광진구', '서울 성동구', '서울 중랑구',
       '서울 동대문구', '서울 성북구', '서울 도봉구', '서울 은평구', '서울 서대문구', '서울 마포구',
       '서울 강서구', '서울 구로구', '서울 영등포구', '서울 동작구', '서울 관악구', '서울 강남구',
       '서울 서초구', '서울 송파구', '서울 강동구', '서울 금천구', '서울 강북구', '서울 양천구',
       '서울 노원구', '경기 수원시', '경기 성남시', '경기 의정부시', '경기 안양시', '경기 광명시',
       '경기 안산시', '경기 과천시', '경기 구리시', '경기 의왕시', '경기 시흥시', '경기 남양주시',
       '경기 평택시', '경기 파주시', '경기 고양시', '경기 광주시', '경기 용인시', '경기 이천시',
       '경기 포천시', '경기 김포시', '경기 군포시', '경기 오산시', '경기 하남시', '경기 화성시',
       '경기 양주시', '경기 동두천시', '경기 안성시', '경기 여주시', '경기 연천군', '경기 가평군',
       '경기 양평군', '강원 춘천시', '강원 양구군', '부산 중구', '부산 동구', '부산 영도구',
       '부산 부산진구', '부산 동래구', '부산 남구', '부산 사상구', '부산 북구', '부산 금정구',
       '부산 해운대구', '부산 사하구', '부산 강서구', '부산 연제구', '부산 기장군', '부산 수영구',
       '부산 서구', '경남 창원시', '울산 동구', '울산 중구', '울산 남구', '울산 울주군', '울산 북구',
       '경남 진주시', '경남 하동군', '경남 김해시', '경남 거제시', '경남 사천시', '경남 양산시',
       '경남 밀양시', '경남 통영시', '경남 고성군', '경남 거창군', '경남 함안군', '경남 함양군',
       '경남 남해군', '광주 동구', '광주 서구', '광주 북구', '광주 광산구', '광주 남구', '전북 전주시',
       '전남 목포시', '전남 여수시', '전남 순천시', '전남 나주시', '전남 담양군', '전남 장성군',
       '전남 광양시', '전남 해남군', '전남 영암군', '전남 화순군', '전남 영광군', '전남 장흥군',
       '전남 진도군', '전남 완도군', '전남 함평군', '제주 제주시', '제주 서귀포시', '대구 중구',
       '대구 수성구', '대구 동구', '대구 서구', '대구 남구', '대구 북구', '대구 달서구', '대구 달성군',
       '경북 포항시', '경북 경주시', '경북 김천시', '경북 안동시', '경북 구미시', '경북 영주시',
       '경북 경산시', '경북 상주시', '경북 칠곡군', '경북 영덕군', '경북 영천시', '경북 의성군',
       '경북 울릉군', '대전 대덕구', '대전 중구', '대전 유성구', '대전 동구', '대전 서구', '충북 청주시',
       '충남 천안시', '충남 공주시', '충남 부여군', '충남 서산시', '충남 당진시', '충남 아산시',
       '충남 논산시', '충남 태안군', '충남 예산군', '충남 보령시', '충남 홍성군', '충남 금산군',
       '충남 청양군', '충남 계룡시', '세종 세종시', '강원 원주시', '강원 강릉시', '강원 동해시',
       '강원 삼척시', '강원 평창군', '강원 정선군', '강원 고성군', '강원 횡성군', '강원 양양군',
       '강원 철원군', '충북 충주시', '충북 제천시', '충북 단양군', '충북 괴산군', '충북 진천군',
       '충북 음성군', '충북 영동군', '충북 증평군', '충북 보은군', '충북 옥천군', '전북 군산시',
       '전북 익산시', '전북 정읍시', '전북 남원시', '전북 고창군', '전북 부안군', '전북 김제시',
       '전북 완주군', '전북 진안군', '전북 임실군', '전북 무주군', '전북 순창군', '전북 장수군',
       '충남 서천군', '인천 중구', '인천 동구', '인천 남동구', '인천 미추홀구', '인천 부평구', '인천 서구',
       '인천 계양구', '인천 강화군', '인천 연수구', '경기 부천시', '인천 옹진군'], dtype=object)

In [31]:
data_select = data1[
    (data1["지역"] == "서울 서초구") |   
    (data1["지역"] == "전북 부안군") | 
    (data1["지역"] == "경남 밀양시") | 
    (data1["지역"] == "서울 노원구") | 
    (data1["지역"] == "경기 시흥시") | 
    (data1["지역"] == "경남 거창군") | 
    (data1["지역"] == "충북 충주시") | 
    (data1["지역"] == "울산 북구") | 
    (data1["지역"] == "경남 거제시") | 
    (data1["지역"] == "강원 강릉시") | 
    (data1["지역"] == "충북 청주시")
    ]

data_select["지역"].unique()

array(['서울 서초구', '서울 노원구', '경기 시흥시', '울산 북구', '경남 거제시', '경남 밀양시',
       '경남 거창군', '충북 청주시', '강원 강릉시', '충북 충주시', '전북 부안군'], dtype=object)

In [3]:
def make_dummy_date(df):
    dummy_date = []
    for i in df["측정일시"]:
        to_str = str(i)
        to_int = int(to_str[:8])

        dummy_date.append(to_int)

    df["dummy_date"] = dummy_date

    return df

In [33]:

data1_select = make_dummy_date(data_select)

data1_select_mean = data1_select.groupby("dummy_date").mean()
data1_select_mean_need = data1_select_mean[["PM10"]]

data1_select_mean_need.head(5)

                 PM10
dummy_date
20181001    20.507018
20181002    28.618962
20181003    35.919580
20181004    30.614815
20181005    13.415789

In [34]:
data2 = pd.read_excel("./미세먼지/2019년 1월.xlsx")
data2

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2019010101,0.0030,0.7,0.003,0.0540,39.0,24.0,서울 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2019010102,0.0030,0.8,0.002,0.0560,38.0,27.0,서울 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2019010103,0.0030,0.9,0.002,0.0570,42.0,28.0,서울 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2019010104,0.0030,0.8,0.002,0.0540,42.0,31.0,서울 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2019010105,0.0030,0.8,0.002,0.0480,49.0,33.0,서울 중구 덕수궁길 15
...,...,...,...,...,...,...,...,...,...,...,...,...
315971,인천 옹진군,국가배경농도,831492,백령도,2019013120,0.0022,0.3,0.036,0.0016,31.0,8.0,인천 옹진군 백령면 연화리
315972,인천 옹진군,국가배경농도,831492,백령도,2019013121,0.0024,0.3,0.035,0.0018,25.0,7.0,인천 옹진군 백령면 연화리
315973,인천 옹진군,국가배경농도,831492,백령도,2019013122,0.0024,0.2,0.035,0.0016,20.0,6.0,인천 옹진군 백령면 연화리
315974,인천 옹진군,국가배경농도,831492,백령도,2019013123,0.0024,0.2,0.034,0.0018,21.0,4.0,인천 옹진군 백령면 연화리
315975,인천 옹진군,국가배경농도,831492,백령도,2019013124,0.0025,0.2,0.034,0.0018,17.0,5.0,인천 옹진군 백령면 연화리

In [4]:
def need_data_select(data1):
    df = data1[
    (data1["지역"] == "서울 서초구") |   
    (data1["지역"] == "전북 부안군") | 
    (data1["지역"] == "경남 밀양시") | 
    (data1["지역"] == "서울 노원구") | 
    (data1["지역"] == "경기 시흥시") | 
    (data1["지역"] == "경남 거창군") | 
    (data1["지역"] == "충북 충주시") | 
    (data1["지역"] == "울산 북구") | 
    (data1["지역"] == "경남 거제시") | 
    (data1["지역"] == "강원 강릉시") | 
    (data1["지역"] == "충북 청주시")
    ]

    return df

In [5]:
def mean_need(df):

    df = make_dummy_date(need_data_select(df))
    df = df.groupby(["dummy_date", "지역"]).mean().reset_index()
    df = df[["dummy_date","지역","PM10"]]

    return df

In [37]:
data1_select_mean_need

                 PM10
dummy_date
20181001    20.507018
20181002    28.618962
20181003    35.919580
20181004    30.614815
20181005    13.415789
...               ...
20181227    26.463100
20181228    34.875465
20181229    39.023593
20181230    31.437158
20181231    46.968577

[92 rows x 1 columns]

In [38]:
data3 = pd.read_excel("./미세먼지/2019년 2월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
# data3_select_mean = make_dummy_date(need_data_select(data3)).groupby("dummy_date").mean()
# data3_select_mean_need = data3_select_mean[["PM10"]]

# data3_select_mean_need.head(5)

In [10]:
# data4 = pd.read_excel("./미세먼지/2019년 3월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
data4_select_mean = mean_need(need_data_select(data4))
data4_select_mean_need = data4_select_mean[["PM10"]]

# data4_select_mean_need["지역"].unique()
data4_select_mean["지역"].unique()

array(['강원 강릉시', '경기 시흥시', '경남 거제시', '경남 거창군', '경남 밀양시', '서울 노원구',
       '서울 서초구', '울산 북구', '전북 부안군', '충북 청주시', '충북 충주시'], dtype=object)

In [ ]:
data5 = pd.read_excel("./미세먼지/2019년 4월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
data5_select_mean = make_dummy_date(need_data_select(data5)).groupby("dummy_date").mean()
data5_select_mean_need = data5_select_mean[["PM10"]]

data5_select_mean_need["지역"].unique()

In [ ]:
data6 = pd.read_excel("./미세먼지/2019년 5월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
data6_select_mean = make_dummy_date(need_data_select(data6)).groupby("dummy_date").mean()
data6_select_mean_need = data6_select_mean[["PM10"]]

data6_select_mean_need["지역"].unique()

In [ ]:
data7 = pd.read_excel("./미세먼지/2019년 6월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
data7_select_mean = make_dummy_date(need_data_select(data7)).groupby("dummy_date").mean()
data7_select_mean_need = data7_select_mean[["PM10"]]

data7_select_mean_need["지역"].unique()

In [ ]:
data8 = pd.read_excel("./미세먼지/2019년 7월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
data8_select_mean = make_dummy_date(need_data_select(data8)).groupby("dummy_date").mean()
data8_select_mean_need = data8_select_mean[["PM10"]]

data8_select_mean_need["지역"].unique()

In [ ]:
data9 = pd.read_excel("./미세먼지/2019년 8월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
# data8_select_mean = make_dummy_date(need_data_select(data8)).groupby("dummy_date").mean()
data9_select_mean_need = make_dummy_date(need_data_select(data9)).groupby("dummy_date").mean()[["PM10"]]

data9_select_mean_need["지역"].unique()

In [ ]:
data10 = pd.read_excel("./미세먼지/2019년 9월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
# data8_select_mean = make_dummy_date(need_data_select(data8)).groupby("dummy_date").mean()
data10_select_mean_need = make_dummy_date(need_data_select(data10)).groupby("dummy_date").mean()[["PM10"]]

data10_select_mean_need["지역"].unique()

In [ ]:
data11 = pd.read_excel("./미세먼지/2019년 10월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
# data8_select_mean = make_dummy_date(need_data_select(data8)).groupby("dummy_date").mean()
data11_select_mean_need = make_dummy_date(need_data_select(data11)).groupby("dummy_date").mean()[["PM10"]]

data11_select_mean_need["지역"].unique()

In [ ]:
data12 = pd.read_excel("./미세먼지/2019년 11월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
# data8_select_mean = make_dummy_date(need_data_select(data8)).groupby("dummy_date").mean()
data12_select_mean_need = make_dummy_date(need_data_select(data12)).groupby("dummy_date").mean()[["PM10"]]

data12_select_mean_need["지역"].unique()

In [ ]:
data13 = pd.read_excel("./미세먼지/2019년 12월.xlsx")

# data2_select = need_data_select(data2)
# data2_select = make_dummy_date(need_data_select(data3))
# data8_select_mean = make_dummy_date(need_data_select(data8)).groupby("dummy_date").mean()
data13_select_mean_need = make_dummy_date(need_data_select(data13)).groupby("dummy_date").mean()[["PM10"]]

data13_select_mean_need["지역"].unique()

In [ ]:
data14 = pd.read_excel("./미세먼지/2020년 1월.xlsx")
data14

In [ ]:
data14_select_mean_need = make_dummy_date(need_data_select(data14)).groupby("dummy_date").mean()[["PM10"]]
data14_select_mean_need["지역"].unique()

In [ ]:
data15 = pd.read_excel("./미세먼지/2020년 2월.xlsx")
data15_select_mean_need = make_dummy_date(need_data_select(data15)).groupby("dummy_date").mean()[["PM10"]]
data15_select_mean_need["지역"].unique()

In [ ]:
data16 = pd.read_excel("./미세먼지/2020년 3월.xlsx")
data16_select_mean_need = make_dummy_date(need_data_select(data16)).groupby("dummy_date").mean()[["PM10"]]
data16_select_mean_need["지역"].unique()

In [ ]:
data17 = pd.read_excel("./미세먼지/2020년 4월.xlsx")
data17_select_mean_need = make_dummy_date(need_data_select(data17)).groupby("dummy_date").mean()[["PM10"]]
data17_select_mean_need["지역"].unique()

In [ ]:
data18 = pd.read_excel("./미세먼지/2020년 5월.xlsx")
data18_select_mean_need = make_dummy_date(need_data_select(data18)).groupby("dummy_date").mean()[["PM10"]]
data18_select_mean_need["지역"].unique()

In [ ]:
data19 = pd.read_excel("./미세먼지/2020년 6월.xlsx")
data19_select_mean_need = make_dummy_date(need_data_select(data19)).groupby("dummy_date").mean()[["PM10"]]
data19_select_mean_need["지역"].unique()

In [ ]:
all_dust = pd.concat([
    data1_select_mean_need,
    data2_select_mean_need,
    data3_select_mean_need,
    data4_select_mean_need,
    data5_select_mean_need,
    data6_select_mean_need,
    data7_select_mean_need,
    data8_select_mean_need,
    data9_select_mean_need,
    data10_select_mean_need,
    data11_select_mean_need,
    data12_select_mean_need,
    data13_select_mean_need,
    data14_select_mean_need,
    data15_select_mean_need,
    data16_select_mean_need,
    data17_select_mean_need,
    data18_select_mean_need,
    data19_select_mean_need
    ])

In [ ]:
all_dust.to_csv("dust_csv.csv", encoding="utf-8")

In [ ]:
solar_data = pd.read_csv("./마지막데이터/total_enitt_data2.csv", encoding="utf-8")