In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go # 그래프 객체 생성
from plotly.subplots import make_subplots
import datetime
import seaborn as sns 
import scipy.stats
import plotly.express as px
import os 
from scipy import stats
from sklearn import metrics
import statsmodels.formula.api as smf
import scipy.stats as st
import pylab
import csv

os.getcwd()

'c:\\Users\\seong\\Desktop\\enittproj\\enitt'

In [10]:
## merge 1, 2 데이터
data1 = pd.read_csv("./ENITT_SOLAR_DATA/ENITT_SOLAR_DATA/A365. 반포써밋2블럭 발전량.csv", encoding="ms949")
data2 = pd.read_csv("./ENITT_SOLAR_DATA/ENITT_SOLAR_DATA/365. 반포써밋2블럭 발전량.csv", encoding="ms949")
data3 = pd.read_csv("./ENITT_SOLAR_DATA/ENITT_SOLAR_DATA/A365. 반포써밋2블럭 환경센서.csv", encoding="ms949")
data4 = pd.read_csv("./ENITT_SOLAR_DATA/ENITT_SOLAR_DATA/365. 반포써밋2블럭 환경정보.csv", encoding="ms949")

otherdata = pd.read_csv("./ENITT_SOLAR_DATA/ENITT_SOLAR_DATA/B142. 청주 발전량.csv", encoding="ms949")



data_12 = pd.concat([data2, data1])
data_34 = pd.concat([data4, data3])
ent_data_solar = data_12.reset_index().drop('index', axis=1)
ent_data_solar

ent_data_weather = data_34.reset_index().drop('index', axis=1)
ent_data_weather

,env_index,env_date,env_time,env_slopesolar,env_levelsolar,env_modtemp,env_airtemp
0,1,2018-10-22,12:44:29,322,316,24.8,17.6
1,2,2018-10-22,12:45:21,320,314,25.0,17.7
2,3,2018-10-22,12:46:12,320,312,25.1,17.9
3,4,2018-10-22,12:47:04,326,319,24.9,18.1
4,5,2018-10-22,12:47:56,335,329,24.9,18.0
...,...,...,...,...,...,...,...
615430,683664,2020-10-22,23:19:00,0,0,6.7,8.1
615431,683665,2020-10-22,23:23:57,0,0,6.7,8.0
615432,683666,2020-10-22,23:28:53,0,0,6.7,8.0
615433,683667,2020-10-22,23:33:49,0,0,6.7,8.0
615434,683668,2020-10-22,23:38:46,0,0,6.7,8.0

In [8]:
ent_data_solar.describe()

,pow_index,pow_id,pow_cap,pow_dcv,pow_dca,pow_dcp,pow_acvr,pow_acvs,pow_acvt,pow_acar,pow_acas,pow_acat,pow_acp,pow_pf,pow_totpower,pow_freq
count,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,490389.000000,4.903890e+05,490389.000000
mean,250924.085489,1.404385,17.978026,468.231477,7.146042,3347.863950,374.484246,372.514379,374.266497,5.962031,6.215007,6.140365,3381.024141,0.967726,1.697774e+07,59.949611
std,149819.623414,0.490773,2.454205,45.550162,8.107717,3853.761342,3.176232,3.299033,3.474000,5.461329,5.555018,5.471587,3712.481481,0.613741,1.502917e+07,0.309154
min,1.000000,1.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000e+03,0.000000
25%,122598.000000,1.000000,15.000000,444.000000,1.100000,400.000000,373.000000,371.000000,372.000000,1.900000,2.000000,2.100000,600.000000,0.900000,6.984000e+06,59.900000
50%,245195.000000,1.000000,20.000000,474.000000,4.500000,2100.000000,374.000000,372.000000,374.000000,4.000000,4.300000,4.200000,2200.000000,1.000000,1.033100e+07,60.000000
75%,367792.000000,2.000000,20.000000,499.000000,10.500000,5000.000000,376.000000,374.000000,376.000000,8.200000,8.500000,8.400000,4900.000000,1.000000,2.597100e+07,60.000000
max,520127.000000,2.000000,34.000000,605.000000,147.055588,66355.835938,408.000000,406.000000,407.000000,94.982900,98.054900,94.216100,63701.597656,8.000000,5.238570e+08,60.400000

In [11]:
otherdata.describe()

,pow_index,pow_id,pow_cap,pow_dcv,pow_dca,pow_dcp,pow_acvr,pow_acvs,pow_acvt,pow_acar,pow_acas,pow_acat,pow_acp,pow_pf,pow_totpower,pow_freq
count,163826.000000,163826.000000,163826.0,163826.000000,163826.000000,163826.000000,163826.000000,163826.000000,163826.000000,163826.000000,163826.000000,163826.000000,163826.000000,163826.000000,1.638260e+05,163826.000000
mean,185121.500000,7.101876,105.0,656.706359,45.853261,30171.975755,375.298610,373.609342,377.432428,46.493114,48.407833,47.551645,29996.396787,1.007270,1.037461e+08,59.952138
std,47292.636937,4.908354,0.0,34.959675,43.700028,28384.312377,6.077345,5.779361,6.131687,41.524972,42.007087,41.452581,27888.836015,0.640744,2.216206e+07,0.215347
min,103209.000000,1.000000,105.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.908800e+07,0.000000
25%,144165.250000,3.000000,105.0,635.000000,8.600000,5500.000000,371.000000,370.000000,373.000000,10.400000,11.500000,11.700000,5800.000000,0.900000,8.518350e+07,59.900000
50%,185121.500000,6.000000,105.0,656.000000,30.400000,20600.000000,375.000000,374.000000,377.000000,31.500000,34.100000,32.900000,20600.000000,0.900000,1.063560e+08,60.000000
75%,226077.750000,13.000000,105.0,680.000000,76.100000,50800.000000,379.000000,378.000000,382.000000,76.500000,79.100000,77.700000,50300.000000,1.000000,1.212780e+08,60.000000
max,267034.000000,15.000000,105.0,818.000000,178.800000,113100.000000,393.000000,392.000000,398.000000,164.500000,166.700000,165.300000,111400.000000,9.000000,1.442980e+08,60.100000

In [13]:
17.97 / 105 * 45.8532

7.847447657142856