In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import os
import glob

In [6]:
df = pd.read_csv("365. 반포써밋2블럭 환경정보.csv", encoding='euc-kr')
df_1_sum = df[["env_date","env_time", "env_slopesolar", "env_levelsolar"]]
df_2_mean = df[["env_date","env_time", "env_modtemp", "env_airtemp"]]

          env_date  env_time  env_slopesolar  env_levelsolar
0       2018-10-22  12:44:29             322             316
1       2018-10-22  12:45:21             320             314
2       2018-10-22  12:46:12             320             312
3       2018-10-22  12:47:04             326             319
4       2018-10-22  12:47:56             335             329
...            ...       ...             ...             ...
460970  2020-05-05  01:19:45               0               0
460971  2020-05-05  01:20:42               0               0
460972  2020-05-05  01:21:39               0               0
460973  2020-05-05  01:22:36               0               0
460974  2020-05-05  01:23:35               0               0

[460975 rows x 4 columns]

          env_date  env_time  env_modtemp  env_airtemp
0       2018-10-22  12:44:29         24.8         17.6
1       2018-10-22  12:45:21         25.0         17.7
2       2018-10-22  12:46:12         25.1         17.9
3       2018-10-22  12:47:04         24.9         18.1
4       2018-10-22  12:47:56         24.9         18.0
...            ...       ...          ...          ...
460970  2020-05-05  01:19:45         10.9         13.0
460971  2020-05-05  01:20:42         10.9         13.1
460972  2020-05-05  01:21:39         11.2         13.1
460973  2020-05-05  01:22:36         11.3         13.1
460974  2020-05-05  01:23:35         11.2         13.1

[460975 rows x 4 columns]

In [27]:
df_1_sum['env_slopesolar_sum'] = 0
df_1_sum['env_levelsolar_sum'] = 0

# df_1_sum["set_time"] = 


df_2_mean['env_modtemp_mean'] = 0
df_2_mean['env_airtemp_mean'] = 0

set_times = df_1_sum["env_time"].tolist()

settings = []

for i in range(len(set_times)):
    settings.append(set_times[i][:-6])



df_1_sum["settings"] = settings
# df_1_sum

group_sum_test = df_1_sum.groupby(["env_date", "settings"]).sum()
group_sum_test.iloc[0]
# group_sum_test = df_1_sum.groupby(["env_date", ])

env_slopesolar        5334
env_levelsolar        5151
env_slopesolar_sum       0
env_levelsolar_sum       0
Name: (2018-10-22, 12), dtype: int64

In [ ]:
# 시간 변경&발전량 계산. 겁나오래걸림
sum_slopesolar = []
sum_levelsolar = []
for i in range (df_1_sum.shape[0]):
    df_1_sum['env_time'][i] = df_1_sum['env_time'][i][:-6]

    if i != (df.shape[0]-1):
        df['power'][i] = df['pow_totpower'][i+1] - df['pow_totpower'][i]
    if(i%1000 == 0):
        print(i)